<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <div class="app">
        <!-- Header -->
        <%- include('./partials/header') %>
        <!--end header-->
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__title">Shop</div>
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="">Home</a></li>
                    <li class="breadcrumb__item"><a href="">Products</a></li>
                    <li class="breadcrumb__item"><a href="">Furniture</a></li>
                    <li class="breadcrumb__item"><a href="">Super Thick Cotton</a></li>
                </ul>
            </div>
            <div class="pro-top">
                <div class="pro-top__review">
                    <div class="pro-top__review__large-img"></div>
                    <ul class="pro-top__review__list">
                        <li class="pro-top__review__item pro-top__review__item--active"><a href="" class="pro-top__review__link"><img src="https://www.devsnews.com/wp/retbo/wp-content/uploads/2021/01/12.jpg" alt=""></a></li>
                        <li class="pro-top__review__item"><a href="" class="pro-top__review__link"><img src="https://www.devsnews.com/wp/retbo/wp-content/uploads/2021/01/12.jpg" alt=""></a></li>
                        <li class="pro-top__review__item"><a href="" class="pro-top__review__link"><img src="https://www.devsnews.com/wp/retbo/wp-content/uploads/2021/01/12.jpg" alt=""></a></li>
                        <li class="pro-top__review__item"><a href="" class="pro-top__review__link"><img src="https://www.devsnews.com/wp/retbo/wp-content/uploads/2021/01/12.jpg" alt=""></a></li>
                    </ul>
                </div>
                <div class="pro-top__content">
                    <div class="pro-top__content__title">Super Thick Cotton</div>
                    <div class="pro-top__content__rating">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked   "></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <span>(0 out of 5)</span>
                    </div>
                    <div class="pro-top__content__price">
                        <span class="pro-top__content__price--old">$31</span>
                        <span class="pro-top__content__price--current">$26</span>
                    </div>
                    <p class="pro-top__content__summary-desc">
                        La croix blog sriracha, distillery ugh small batch retro literally coloring
                         book disrupt gochujang affogato. Edison bulb. The next generation of our icon library 
                         + toolkit is coming with more icons, more styles, more services.
                    </p>
                    <button class="pro-top__contact-me btn">Contact me</button>
                    <hr>
                    <p class="pro-top__content__id">SKU: 025</p>
                    <p class="pro-top__content__category">Category: Furniture</p>
                    <p class="pro-top__content__tag">Tags: Home, Wood</p>
                </div>
            </div>
            <div class="pro-bottom">
                <div class="pro-bottom__nav">
                    <ul class="pro-bottom__nav__list">
                        <li class="pro-bottom__nav__item"><a >Description</a></li>
                        <li class="pro-bottom__nav__item"><a >Reviews (0)</a></li>
                    </ul>
                </div>
                <div class="pro-bottom__detail">
                    <div class="pro-bottom__details--desc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                            velit esse cillum dolore eu fugiat nulla pariatur xcepteur sint occaecat cupidatat non proident, sunt.

                            Sorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cdolore eu fugiat 
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                            anim id est laborum. Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et 
                            commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudinInteger in mauris eu nibh euismod 
                            gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper,
                        </p>
                    </div>
                </div>
            </div>
            <div class="related">
                <div class="related__title">Related Products</div>
                <div class="related__desc">Street art salvia irony wolf waistcoat actually lomo meh fap jean.</div>
                 
                ---------------
            </div>

        </div>
        <!-- footer -->
          <%-  include('./partials/footer')%>
         <!-- end footer -->
    </div>
    </div>
</body>
<!-- script -->
<%- include('./partials/script') %>
<!-- end script -->
</html>
 
