<header class="header">
    <div class="header-top grid">
        <a class="header-logo" href="/">
        <span>L</span>ien
        <span>N</span>guyen
        </a>
        <div class="header-nav">
            <ul id="header-nav-list" class="header-nav-list ">
                <li class="header-nav-item header-nav-item--active"><a href="/">Trang CHỦ</a></li>
                <li class="header-nav-item header-nav-item-has-list">
                <a href="">DANH MỤC <i class="fas fa-caret-down"></i></a>
                <ul class="header-dropdown-list">
                    <li class="dropdown-item"><a href="">CỬA KÍnh </a></li>
                    <% header_category.forEach(function(header, index) {%>
                    <li class="dropdown-item"><a href=""><%- header._category_name %></a></li>
                    <%})%>
                </ul>
                </li>
                <li class="header-nav-item"><a href="/contact">LIÊN HỆ</a></li>
                <li class="header-nav-item"><a href="/about_us">VỀ CHÚNG TÔI</a></li>
                <li id="header-nav-item--theme" class="header-nav-item light-theme"><a ><i id="header-nav-item--theme-icon" class="fas fa-moon"></i><span id="header-nav-item--theme-name">Chế độ tối</span></a></li>
            </ul>
            <a id="header-search-icon" class="header-nav-item-search"><i class="header-search-icon fas fa-search"></i></a>
            <a id="header-nav__menu-icon" class="header-nav__menu-icon"><i class="header-menu-icon fas fa-bars"></i></a>
        </div>
    </div>
    <div id="header-bottom" class="header-bottom">
        <div class="header-bottom__search">
            <input autofocus  type="text" id="search__input"  class="search__input" >
            <i id="icon-hide-search"  class="fas fa-times"></i>
        </div>
        <div id="header-bottom__result" class="header-bottom__result">
                <!-- Product-search -->
                <a class="header-bottom__result-item" href="">
                    <div class="result-img" style="background-image: url('https://cuakinhre.com/wp-content/uploads/2019/08/gia-cua-kinh-cuong-luc-khung-nhom-2.jpg');"></div>
                    <div class="result-content">
                        <div class="result-content__name">Cửa kính nhôm cao cấp</div>
                        <div class="result-content__type">Phân loại: Cửa nhôm xifang</div>
                        <div class="result-content__price">2.000.000</div>
                    </div>
                </a>
                <a class="header-bottom__result-item" href="">
                    <div class="result-img" style="background-image: url('https://cuakinhre.com/wp-content/uploads/2019/08/gia-cua-kinh-cuong-luc-khung-nhom-2.jpg');"></div>
                    <div class="result-content">
                        <div class="result-content__name">Cửa kính nhôm cao cấp</div>
                        <div class="result-content__type">Phân loại: Cửa nhôm xifang</div>
                        <div class="result-content__price">2.000.000</div>
                    </div>
                </a>
                <a class="header-bottom__result-item" href="">
                    <div class="result-img" style="background-image: url('https://cuakinhre.com/wp-content/uploads/2019/08/gia-cua-kinh-cuong-luc-khung-nhom-2.jpg');"></div>
                    <div class="result-content">
                        <div class="result-content__name">Cửa kính nhôm cao cấp</div>
                        <div class="result-content__type">Phân loại: Cửa nhôm xifang</div>
                        <div class="result-content__price">2.000.000</div>
                    </div>
                </a>  
            </div>
    </div>
</header>
